# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# ML/RAG artifacts
*.faiss
*.sqlite3
*.pkl
*.joblib

# Environment vars
.env